
@using NetBanking.Core.Application.ViewModels.Recipients;
@using NetBanking.Core.Application.ViewModels.Users;
@model SaveRecipientsViewModel;
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Beneficiario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" asp-controller="Recipients" asp-action="Create">
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="IdRecipient" class="form-label">Numero de Cuenta: </label>
                        <input type="text" asp-for="IdRecipient" class="form-control" />
                        <span asp-validation-for="IdRecipient" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Agregar Beneficiario
        </button>
        <span style="color:red;font-size:20px">@TempData["ErrorMessge"]</span>
    </div>
    <div class="col-md-12">
        <br />
        <h4>Beneficiarios</h4>
        <table class="table">

            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cuenta</th>
                    <th></th>
                </tr>
            @foreach (RecipientsViewModel item in ViewBag.Recipients)
            {
                <tr>
                    <td>@item.Recipient.FirstName</td>
                    <td>@item.Recipient.LastName</td>
                    <td>@item.IdRecipient</td>
                    <td><a asp-controller="Recipients" asp-action="Delete" asp-route-Identifier="@item.IdRecipient" class="btn btn-outline-danger float-right">Borrar</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

