@using NetBanking.Core.Application.ViewModels.Transactions
@model SaveTransactionsViewModel
<div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">seguro que desea realizar este pago?</h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" onclick="enviar()">Realizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Pago a Prestamo</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <form method="post" asp-controller="Pagos" asp-action="TransferenciaEntreCuentas" id="form">
                        <div class="mb-3">
                            <label asp-for="UserProductId" class="form-label">Cuenta Origen: </label>
                            <select asp-for="UserProductId" class="form-select form-control" id="rol">
                                @foreach (var item in ViewBag.MyProducts)
                                {
                                    <option value="@item.Identifier">@item.Identifier (@item.ProductType)</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto: </label>
                            <input asp-for="Amount" type="number" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="RecipientProductId" class="form-label">Beneficiario: </label>
                            <select asp-for="RecipientProductId" class="form-select form-control" id="rol">
                                @foreach (var item in ViewBag.MyProducts)
                                {
                                    <option value="@item.Identifier">@item.Identifier (@item.ProductType)</option>
                                }
                            </select>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Realizar
                    </button>
                    <a asp-controller="Pagos" asp-action="Index" class="btn btn-warning">Volver atras</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function enviar() {
        $('#form').submit();
    }
</script>