@model List<NetBanking.Core.Application.ViewModels.Users.UsersViewModel>;
@{
    bool IsAdmin = false;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>
                        Roles
                    </th>
                    <th>estado</th>
                    <th>
                        <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("RegisterUser", "User")'">Nuevo</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (NetBanking.Core.Application.ViewModels.Users.UsersViewModel user in ViewBag.usuarios)
                {
                    IsAdmin = false;
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                        @foreach (string role in user.Type)
                        {
                            @if (role == "Admin")
                            {
                                IsAdmin = true;
                                <label style="background-color: red;border-radius: 50%;padding: 5px;">@role</label> 
                            }
                            else if (role == "Client")
                            {
                            <label style="background-color: cadetblue;border-radius: 50%;padding: 5px;">@role</label>
                            }
                        }
                        </td>
                        <td>
                            @if (user.estado)
                            {
                                <label style="border-radius: 50%;padding: 5px;" class="btn-success">Activo</label>
                            }
                            else
                            {
                                <label style="border-radius: 50%;padding: 5px;" class="btn-warning">Inactivo</label>
                            }
                        </td>
                        <td>
                            @if (!IsAdmin)
                            {
                                <a class="btn btn-success" asp-controller="Products" asp-action="AddProduct" asp-route-Id="@user.Id">Ver Productos</a>
                                <a class="btn btn-warning" asp-controller="User" asp-action="Delete" asp-route-Id="@user.Id">Inactivar</a>
                            }
                            else
                            {
                                <span>--</span>
                            }
                        </td>
                        @*<td>@user.Identification</td>*@
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>